{% extends "layout.html" %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/check-answers" method="post" novalidate>
            {% from 'textarea/macro.njk' import textarea %}

            {% from 'fieldset/macro.njk' import fieldset %}
            {% from "input/macro.njk" import input %}

            {% call fieldset({
            legend: {
                text: "Where would you like your test kit delivered?",
                classes: "nhsuk-fieldset__legend--l",
                name: "address",
                isPageHeading: true
            }
            }) %}

            {{ input({
                label: {
                html: 'Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>'
                },
                id: "addressLine1",
                name: "addressLine1",
                value: data.addressLine1
            }) }}

            {{ input({
                label: {
                html: '<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>'
                },
                id: "addressLine2",
                name: "addressLine2",
                value: data.addressLine2
            }) }}

            {{ input({
                label: {
                text: "Town or city"
                },
                classes: "nhsuk-u-width-two-thirds",
                id: "addressTown",
                name: "addressTown",
                value: data.addressTown
            }) }}

            {{ input({
                label: {
                text: "County"
                },
                classes: "nhsuk-u-width-two-thirds",
                id: "addressCounty",
                name: "addressCounty",
                value: data.addressCounty
            }) }}

            {{ input({
                label: {
                text: "Postcode"
                },
                classes: "nhsuk-input--width-10",
                id: "addressPostcode",
                name: "addressPostcode",
                value: data.addressPostcode
            }) }}

            {% endcall %}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}