{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}

{% block beforeContent %}
  {{ backLink({
    href: "/address",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers</h1>

      {% set addressHtml %}
        {{ data.addressLine1 }}<br>
        {{ data.addressLine2 }}<br>
        {{ data.addressTown }}<br>
        {{ data.addressCounty }}<br>
        {{ data.addressPostcode }}<br>
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Do you have magical powers"
            },
            value: {
              html: data.doYouHaveSymptoms
            },
            actions: {
              items: [
                {
                  href: "/magical-powers",
                  text: "Change",
                  visuallyHiddenText: "Do you have magical powers"
                }
              ]
            }
          },
          {
            key: {
              text: "Symptoms"
            },
            value: {
              html: data.details
            },
            actions: {
              items: [
                {
                  href: "/details",
                  text: "Change",
                  visuallyHiddenText: "symptoms"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery address"
            },
            value: {
              html: addressHtml
            },
            actions: {
              items: [
                {
                  href: "/address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      

      



      <form action="/confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}