{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}

{% block beforeContent %}
  {{ backLink({
    href: "/details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending your application</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Do you have magical powers"
            },
            value: {
              html: data.doYouHaveSymptoms
            },
            actions: {
              items: [
                {
                  href: "/magical-powers",
                  text: "Change",
                  visuallyHiddenText: "Do you have magical powers"
                }
              ]
            }
          },
          {
            key: {
              text: "Symptoms"
            },
            value: {
              html: data.details
            },
            actions: {
              items: [
                {
                  href: "/details",
                  text: "Change",
                  visuallyHiddenText: "symptoms"
                }
              ]
            }
          }
        ]
      }) }}

      

      

      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        Your details will be sent to Rose Medical Practice to begin your registration.
      </p>

      <form action="/confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}