{% extends "layout.html" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Order complete",
        text: "We have sent you a confirmation email"
      }) }}

      <h2 class="nhsuk-heading-m">Your order details</h2>

    {% set addressHtml %}
        {{ data.addressLine1 }}<br>
        {{ data.addressLine2 }}<br>
        {{ data.addressTown }}<br>
        {{ data.addressCounty }}<br>
        {{ data.addressPostcode }}<br>
      {% endset %}


      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Delivery address"
            },
            value: {
              html: addressHtml
            }
          }
        ]
      }) }}

      <p>
        <a href="#">Tell us about your experience using this service</a>
      </p>

    </div>
  </div>
{% endblock %}
