{% extends "layout.html" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block beforeContent %}
  {{ backLink({
    href: "/magical-powers",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


{% from 'error-summary/macro.njk' import errorSummary %}

{{ errorSummary({
  titleText: "You are not eligible",
  descriptionText: "You need to be feeling magical to continue",
  errorList: [
    {
      href: "#example-error-1"
    }
  ]
}) }}


    </div>
  </div>
{% endblock %}
